<h2>Template <small>Dinámicos</small></h2>
<hr>

<form autocomplete="off" [formGroup]="miFormulario">
    
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   formControlName="nombre"
                   type="text"
                   placeholder="nombre de la persona">
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('nombre')">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       [formControl]="nuevoFavorito"
                       (keyup.enter)="agregar()"
                       placeholder="Agregar favorito">
                <button class="btn btn-outline-primary" 
                        type="button"
                        (click)="agregar()">
                    Agregar
                </button>
            </div>

        </div>
    </div>    

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1"
                *ngFor="let favorito of favoritosArr.controls, let i = index">
                <input  class="form-control"
                        type="text"
                        [formControlName]="i">
                <button class="btn btn-outline-danger" 
                        type="button"
                        (click)="borrar(i)">
                    Eliminar
                </button>                        
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>    
</form>


<div class="row">
    <div class="col-4">
        <span>Valid</span>
        <pre>{{miFormulario.valid | json}}</pre>
    </div>

    <div class="col-4">
        <span>Pristine</span>
        <pre>{{miFormulario.pristine | json}}</pre>
    </div>

    <div class="col-4">
        <span>Touched</span>
        <pre>{{miFormulario.touched | json}}</pre>
    </div>

    <div class="col-12">
        <span>Valor</span>
        <pre>{{miFormulario.value | json}}</pre>
    </div>
</div>